{% for car in vehicles%}
<div class="d-flex align-items-start perfil-caixa bg-light mb-2">
    <img class="ms-4 d-none d-md-block me-4 align-self-center" src="../static/images/car-placeholder.png" alt="Car"
         style="height: 100px">
    <div>
        <div>
            <div class="">Matrícula: {{car.license_plate}}</div>
            <div class="">Marca: {{car.brand}}</div>
            <div class="">Modelo: {{car.model}}</div>
            <div class="">Cor: {{car.color}}</div>
        </div>
    </div>
    <div class="d-flex col flex-column">
        <button type="button" class="btn-close align-self-end me-2 mt-1" data-bs-dismiss="modal" aria-label="Close" name="{{car.id}}" onclick="deleteVehicles(this.name)"></button>
    </div>
</div>
{% endfor %}