<div class="card-blocker"></div>
<div class="row">
    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="table-responsive text-nowrap">
            <table class="text-nowrap w-auto">
                <tbody>
                <tr id="Passenger{{ride.id}}{{condutor.user_id}}" class="table-row">
                    <td>
                        <a href="#profileCard{{condutor.user_id}}" name="{{ condutor.user_id }}"
                            onclick="getUserModal(this.name)">
                            <img class="ms-4 p-2 me-2 rounded-circle card-profile-image"
                                 src="{{ condutor.photo }}"
                                 alt="Profile Image">
                        </a>
                    </td>
                    <td class="ps-3">{{ condutor.first_name }}</td>
                    <td>
                        <div class="ms-3" id="cardContentAvaliacao{{ ride.id }}{{ condutor.user_id }}" onload="fn()">

                        </div>
                    </td>
                    <td>
                        <div id="cardContentRemove{{ ride.id }}{ condutor.user_id }}"></div>
                    </td>
                </tr>
                {% for passenger in passengers %}
                <tr id="Passenger{{ride.id}}{{ passenger.user_id }}" class="table-row">
                    <td>
                        <a href="#profileCard{{passenger.user_id}}" name="{{ passenger.user_id }}"
                            onclick="getUserModal(this.name)">
                            <img class="ms-4 p-2 me-2 rounded-circle card-profile-image"
                                 src="{{ passenger.photo }}"
                                 alt="Profile Image">
                        </a>
                    </td>
                    <td class="ps-3">{{ passenger.first_name }}</td>
                    <td>
                        <div class="ms-3" id="cardContentAvaliacao{{ ride.id }}{{ passenger.user_id }}">
                        </div>
                    </td>
                    <td>
                        <div id="cardContentRemove{{ ride.id }}{{ passenger.user_id }}"></div>
                    </td>
                </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card m-3">
            <div class="card-header">
                Descrição
            </div>
            <div class="card-body">
                <p>Veículo:<br>
                      Marca: {{vehicle.brand}}<br>
                      Modelo: {{vehicle.model}}<br>
                      Cor: {{vehicle.color}}<br>
                      Matrícula: {{vehicle.license_plate}}<br>
                    {{ride.description}}
                </p>
            </div>
        </div>
        <div class="mt-3 px-1 m-3">
            <p>Lugares Disponíveis: {{ride.number_of_available_seats - passengers|length}}</p>
        </div>
    </div>

</div>
<div class="card-blocker"></div>
<div class="d-flex flex-row-reverse">
    <div class="me-4">
        <button type="button" class="btn-ismat-large" data-bs-toggle="modal"
                data-bs-target="#reservation{{ride.id}}">Reservar
        </button>
    </div>
</div>
<div class="card-blocker"></div>

<div class="modal fade" id="reservation{{ride.id}}"
     data-bs-keyboard="false" tabindex="-1"
     aria-labelledby=""
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="a">Reservar Boleia</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Tem a certeza que quer reservar a boleia {{ride.origin|upper}}-{{ride.destination|upper}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" name="{{ride.id}}" class="btn btn-success" data-bs-dismiss="modal" onclick="reservation(this.name)">Sim</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>
