<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Boleia ismat</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>
<body>

<div class="container d-inline-flex align-items-center justify-content-center fullscreen">
    <div>
        <div class="m-auto col-xxl-6 col-xl-7 col-md-9 col-lg-8 col-sm-12">
            <div class="card boleia-card-shadow  col align-self-center">
                <div class="card-body text-center">
                    <img src="../static/images/logo-black.svg" class="mt-3" alt="logo" style="height: 40px; width: auto;">
                    <div>
                        <div class="mx-5">
                            <p class="text-start mt-3">Preencha os campos</p>
                            <form class="row d-inline-flex text-start" action="/register" method="POST">
                                <div class="col-8 mb-3">
                                    <label for="floatingInput" class="d-none"></label>
                                    <input name="email" type="email" class="form-control input-shadow form-ismat" id="floatingInput" placeholder="Email">
                                </div>
                                <div class="col-4 mb-3">
                                    <label for="floatingPhoneNumber" class="d-none"></label>
                                    <input name="phone" type="text" class="form-control input-shadow form-ismat" id="floatingPhoneNumber" placeholder="Telemóvel">
                                </div>
                                <div class="col-6 mb-3">
                                    <label for="floatingFirstName" class="d-none"></label>
                                    <input name="firstname" type="text" class="form-control input-shadow form-ismat" id="floatingFirstName" placeholder="Nome Próprio">
                                </div>
                                <div class="col-6 mb-3">
                                    <label for="floatinglastName" class="d-none"></label>
                                    <input name="lastname" type="text" class="form-control input-shadow form-ismat" id="floatinglastName" placeholder="Apelido">
                                </div>
                                <div class="col-6 mb-3">
                                    <label for="floatingPassword" class="d-none"></label>
                                    <input name="password" type="password" class="form-control input-shadow ismat form-ismat" id="floatingPassword" placeholder="Password">
                                </div>
                                <div class="col-6 mb-3">
                                    <label for="floatingConfirmPassword" class="d-none"></label>
                                    <input name="confirm_password" type="password" class="form-control input-shadow form-ismat" id="floatingConfirmPassword" placeholder="Confirme a Password">
                                </div>
                                <button type="submit" class="btn-ismat-large col-12">Registar</button>
                            </form>                        </div>
                        <div class="d-flex justify-content-center align-items-center mt-2 mb-3">
                            <div class="me-3">Já tem conta?</div>
                            <button type="button" class="btn btn-ismat-outline" onclick="window.location.href='./login'">Entrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>