{% extends 'baseModal.html' %}

{% block id %}cancelReservation{% endblock %}

{% block title %}Cancelar Reserva{% endblock %}

{% block body %}
<div class="modal-body">
    <p>Tem a certeza que quer cancelar a reserva da boleia {{ride.origin|upper}}-{{ride.destination|upper}}?</p>
</div>
{% endblock %}

{% block footer %}
      <div class="modal-footer">
        <a name="{{ride.id}}" href="/" class="btn btn-success" data-bs-dismiss="modal" onclick="cancelReservation(this.name)">Sim</a>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Não</button>
      </div>
{% endblock %}