{% extends 'baseModal.html' %}

{% block id %}reserveRide{{ride.id}}{% endblock %}

{% block title %}Reservar Boleia{% endblock %}

{% block body %}
<div class="modal-body">
    <p>Tem a certeza que quer reservar um lugar na boleia {{ride.origin|upper}}-{{ride.destination|upper}}?</p>
</div>
{% endblock %}

{% block footer %}
      <div class="modal-footer">
        <a name="{{ride.id}}" href="/" class="btn btn-success" data-bs-dismiss="modal" onclick="reservation(this.name)">Sim</a>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Não</button>
      </div>
{% endblock %}